<!DOCTYPE html>
<html>
<head>
<title>SUCCESS FIT</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="stylesheet.css" type="text/css" rel="stylesheet">
<link href="navbar.css" type="text/css" rel="stylesheet">
<link href="title.css" type="text/css" rel="stylesheet">
<link href="boutton.css" type="text/css" rel="stylesheet">
<link href="footer.css" type="text/css" rel="stylesheet">
<link href="card.css" type="text/css" rel="stylesheet">


</head>
<body>
<div class="wrapper">
  <div class="navbar">
      <div class="topnav">
        <a class="navbar-brand" href="landing.html"><span class="logo"><img src="logo_inline_orange.png" width="50%"></span></a>
        <a href="#home">Accueil</a>
        <a href="#news">Programme</a>
        <a href="#contact">Contact</a>
        <a href="#about">A propos</a>
          <div class="navbar_avatar" href="landing.html"><span ><img <img src="/images/max-rovensky-545700-unsplash.jpg" class="rounded-circle img-raised" style="width:50px; height:50px;"></span></div>
      </div>

  <div class="container_title">
      <div class="topnav_title">
        <a>   Retrouvez la forme ..... en 28 jours</a><br>
        <a>   et gardez-là...</a>
      </div>

      <div>
        <a href="#" class="btn btn-lg btn-primary btn-round">Si..si..c'est possible</a>
      </div>
  </div>


</div> 
<footer>
<div class="footer">
      <div class="bottom_nav">
        <a href="#news">Mentions légales</a>
        <a href="#contact">Contact</a>
        <a href="#about">A propos</a>
      </div>
</div>
</footer>
</body>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/images/yoga_v2.jpeg" alt="SUCCESS FIT" style="width:250px;height:250px;">
    </div>
    <div class="flip-card-back">
      <img src="/images/logo_inline_orange.png" width="50%"> 
      <h1>Succés GARANTI</h1> 
      <h1>TEST GRATUIT</h1><br>
      <a href="#" class="btn btn-lg btn-primary btn-round">C'EST PAR ICI </a>
    </div>
  </div>
</div>

</body>
</html>

